body {
    margin: 0;
    padding: 0;
}
#header {
    background:  rgb(255, 191, 0);
    color: white;
    font: 'Oswald', sans-serif;
    font-size: 16px;
    padding: 16px;
}
#header  #name {
    font-family:'Oswald', sans-serif;
    display: inline-block;
}
#menu a, #menubutton a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
}

#container {
    margin: 20px 20px 20px 20px;
    
}
#area {
    width: 100%;
    height: 100%;
    font: 1em 'Oswald', sans-serif;
    background-color: rgba(255,190,0,0.3);
}
#area:focus {
    color: rgba(50, 82, 50, 1.0);
    border: 2px solid #96c56f;
    box-shadow: 2px 1px 1px #888888;
}
.footer {
    width: 100%;
    background-color: rgb(255, 191, 0);
    height: 32px;
    position: fixed;
    bottom: 0px;
}
.footer  p {
    margin: 8px;
    color: white;
    font: 14px 'Oswald', sans-serif;
    text-align: center;
}
#controls {
    margin-left: 10px;
    color: rgb(255,191,0);
}
a.button {
    width: 15%;
    display: inline-block;
    background: linear-gradient(to bottom, #ffbf00, #ffbf00);
    border-radius: 8px;
    border: 1px solid #444444;
    box-shadow: 0px 3px 3px #333333 inset, 3px 1px 3px #222222;
    color: #6d954e;
    background-color: rgba(255, 191, 0, .3);
    text-decoration: none;
    text-align: center;
    padding: 16px 32px 16px 32px;
    font-family: 'Oswald', sans-serif;;
}

a.button:hover {
    background: rgb(255, 191, 0);
    color: black;
}
a.button:active {
    background: rgb(255, 120, 80);
}




@media only screen and (min-width: 600px) {
    #menu {
        float: right;
        display: inline-block;
    }
    .menuitem {
        display: inline;
    }
    .menuitem {
        border-left: 1px solid white;
        margin-left: 8px;
        padding-left: 8px;
    }
    #menubutton {
        display: none;
    }
    a.button
    {
        width: 10%;
    }
}
@media only screen and (max-width: 599px) {
    #menubutton {
        display: inline;
        float: right;
    }
    #menu {
        position: absolute;
        top: 48px;
        right: 0px;
        background: rgb(255, 191, 0);
        padding: 16px;
    }
    .shownmenu {
        display: block;
    }
    .hiddenmenu {
        display: none;
    }
    .menuitem {
        display: block;
    }
    .menuitem {
        margin-top: 8px;
    }
}


